<% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <div><%= error.msg %></div>
            <button onclick="closeAlert(this)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% }) %>
<% } %>

<% if(success_msg != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <div><%= success_msg %></div>
        <button onclick="closeAlert(this)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>

<% if(error_msg != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <div><%= error_msg %></div>
        <button onclick="closeAlert(this)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>

<% if(error != '') { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <div><%= error %></div>
        <button onclick="closeAlert(this)" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
<% } %>


<script>
    function closeAlert(button) {
        const alertBox = button.closest('.alert');
        if (alertBox) {
            alertBox.parentNode.removeChild(alertBox);
        }
    }
</script>

